.nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.nav__text {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
  transition: transform 0.2s;
  transition: background-color 0.5s;
  cursor: pointer;
}

.nav__text:hover {
  text-decoration: underline;
  background-color: white;
  transform: scale(1.03);
}
